html{
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body{
    width: 95%;
    height: 100%;
    background: url(imagens/bg.jpg) repeat-y;
    background-size: 100%;

    
    
}

.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 70px;
    height: 70px;
}

.mosquito3{
    width: 90px;
    height: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;

}

#cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.centralizar{
    display: flex;
    justify-content: center;
}

#newGame{
    border-radius: 25px;
    background: #824E20;
    color: white;
    font-size: 2em;
    line-height:1.3;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#dificuldade{
    margin: 20px 0;
    font-size: 1.1em;
}